Lect15/files/contacts.csv
ToDo.log
vk_com.txt
Lect14/to_do_app.log
Lect14/todo.db
Lect15/config.ini
Lect15/Miakish_Sviataslau_Lect15.rar
Lect15/todo.db
Lect15/files/config.ini
Lect15/files/exc.log
Lect15/files/exported_contacts.csv
Lect15/files/exported_contacts2.csv
Lect15/files/exported_contacts3.csv
Lect15/files/hello
Lect15/files/lel.csv
Lect15/files/lol.csv
Lect15/files/Miakish_Sviataslau_Lect15.rar
Lect15/files/todo.db
Lect14/todo.db
Lect14/todo.db
Lect17/.vscode/settings.json
Lect16/todo.db
Lect16/Miakish_Sviataslau_HOMEWork_Lect16.rar
Lect16/lol.json
Lect16/config.ini
Lect14/todo.db
Lect11/Miakish_Sviataslau_lab_To_do_List/main.py
